@import "tailwindcss";

body{
    background: #e4eaaa;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.contt {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .contt {
    width: 90%;
  }
}
.button {
    display: inline-block; /* Makes the button behave like an inline element but allows setting width/height */
    padding: 12px 24px; /* Adjust padding for desired size */
    background-color: var(--yellow); /* Gold color */
    color: var(--black); /* Black text */
    text-decoration: none; /* Remove underlines from links */
    border-radius: 8px; /* Rounded corners */
    font-size: 1.3rem; /* Adjust font size as needed */
    cursor: pointer; /* Makes the cursor a pointer on hover */
    border: 2px solid var(--black); /* remove default button border*/
    -webkit-box-shadow: 3px 3px 0px 0px rgba(40, 40, 37, 1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(40, 40, 37, 1);
    box-shadow: 3px 3px 0px 0px rgba(40, 40, 37, 1);
    transition: all 0.3s ease; /* smooth transitions for hover effect */
  }
  
  .button:hover {
    -webkit-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
  }

  
.conttext{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conttext h1{
    font-size: 3.8rem !important;
    line-height: 110% !important;
    margin-bottom: 1.5rem !important;
    font-weight: 600 !important;
    text-align: left !important;
}

.conttext p{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black) !important;
}

.conttext small{
    font-size: 1rem;
}

.formdiv{
    padding: 1rem;
}

.formdiv input{
    border: 2px solid var(--black);
    outline: none;
    width: 50%;
    border-radius:10px ;
    font-size: 1.2rem;
    padding: .6rem 1rem;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease; /* smooth transitions for hover effect */
    font-family: var(--cabin);
    color: var(--p);
}

.formdiv input:hover {
    -webkit-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
  }

  .webcont{
    width: 100%;
  }

  .webcont input{
    width: 100%;
  }

  .webcont textarea{
    border: 2px solid var(--black);
    outline: none;
    width: 100%;
    margin-top: 1.5rem;
    border-radius:10px ;
    font-size: 1.2rem;
    padding: .6rem 1rem;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease; /* smooth transitions for hover effect */
    font-family: var(--cabin);
    color: var(--p);
  }

  .webcont textarea:hover{
    -webkit-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
    -moz-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
    box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
  }

  .socials{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .socials>a{
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: .5rem;
    margin-top: .5rem;
    transition: all 0.3s ease; /* smooth transitions for hover effect */
  }

  .socials>a:hover{
    background-color: var(--p);
    transform: translateY(-3px);
  }

  @media (max-width:860px) {
    .conttext{
      text-align: center;
    }
    .conttext h1{
      text-align: center !important;
    }
    .socials{
      justify-content: center;
    }
  }

  .eduu {
  padding: 3rem 0;
  width: 80%;
  margin:  0 auto;
}

.eduu h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

.educard {
  width: 30%;
  height: 100%;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  border: 2px solid var(--black);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease; /* smooth transitions for hover effect */
}

.educard:hover {
  -webkit-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
  -moz-box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
  box-shadow: 6px 6px 0px 0px rgba(40, 40, 37, 1);
}

.educard h2{
    color: var(--black) !important;
    font-size: 2rem;
    font-weight: 500;
}

.educard p{
    font-size: 1.2rem;
}

.educard h4{
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width:1380px){
    .eduu{
        width: 90%;
    }
}

@media (max-width:1220px){
    .eduu{
        width: 95%;
    }
}

@media (max-width:900px){
    .respoedu{
        flex-direction: column;
        gap: 2rem;
    }
    .respoedu>div{
        width: 100%;
    }
}